@import url('app.scss');

body {
  margin: 0;
  padding: 0;
  transition-duration: 0.3s;
  &.dark-mode {
    background-color: #363062;
    color: #fff;
    .big-card-text {
      color: #fff;
    }
    .small-card-text {
      color: #fff;
    }
  }
}